/* Coolors Exported Palette - coolors.co/f4f1de-83b692-3d405b-9aa0a8-1d1e18 */

/* HSL */
$color1: hsla(52%, 50%, 91%, 1);
$color2: hsla(138%, 26%, 61%, 1);
$color3: hsla(234%, 20%, 30%, 1);
$color4: hsla(214%, 7%, 63%, 1);
$color5: hsla(70%, 11%, 11%, 1);
$color6: hsla(137%, 30%, 50%, 1);

/* RGB */
$color1: rgba(244, 241, 222, 1);
$color2: rgba(131, 182, 146, 1);
$color3: rgba(61, 64, 91, 1);
$color4: rgba(154, 160, 168, 1);
$color5: rgba(29, 30, 24, 1);
$color6: rgba(89, 165, 111, 1);